@charset "utf-8";
body,html{ height:100%; color:#fff;}
.background{ min-width:960px; height:100%; background:url(../img/my_resume/sea.jpg) no-repeat; background-size:1400px 700px;}
h2{ font-size:40px; height:40px; line-height:50px; text-align:center; padding-top:40px;}
.return{ width:100px; height:100px; position:absolute; top:50px; right:150px; height:100px;border-radius:14px; overflow:hidden;}
.box{ width:840px; height:400px; margin:40px auto 0; padding:60px;}
#geo{ width:400px; height:400px; border:5px solid #ccc; border-radius:10px;}
.info{ width:400px; height:300px; padding-top:100px;}
.info li{ height:50px; line-height:50px;}
.info strong{ width:100px; margin-left:30px;}




























