@charset "utf-8";
html{ height:100%; color:#fff;}
.main{ min-width:960px; height:100%; background:rgba(0,204,255,0.5) url(../img/my_resume/sea.jpg) no-repeat; background-size:100%;}
.return{ width:100px; height:100px; position:absolute; top:80px; right:80px; height:100px;border-radius:14px; overflow:hidden;}

.background{ width:960px; height:100%; margin:0 auto; background:rgba(0,204,204,0.7); overflow:hidden;}
.info{ width:960px; height:430px;}
.photo{ width:200px; height:200px; display:block; border:5px solid #ccc; border-radius:50%; margin:100px auto 30px; transition:1s all ease;}
.photo:hover{ transform:rotate(360deg);}
.name{ width:120px; height:40px; line-height:40px; display:block; font-size:40px; margin:0 auto; text-align:center; font-weight:bold; background:-webkit-linear-gradient(45deg,red,yellow,blue);-webkit-background-clip:text; color:rgba(0,0,0,0);}
.sex{ width:100px; height:30px; line-height:30px; display:block; font-size:26px; margin:20px auto; text-align:center;}

.skill{ width:960px; height:400px; background:rgba(0,255,153,1); overflow:hidden;}
.skill h3{ height:40px; line-height:40px; text-align:center; font-size:35px; margin-top:10px;}
.skill ul{ width:900px; margin:60px auto;}
.skill li{ width:350px; height:60px; margin-right:50px; margin-left:50px; margin-bottom:40px;}
.scroll{ width:100%; height:20px; background:yellow; border-radius:4px; position:relative; overflow:hidden;}
.bar{ width:70%; height:50px; background:-webkit-repeating-linear-gradient(45deg,red 0,red 10px,blue 10px,blue 20px); position:absolute; animation:test 1s linear infinite;} 
.bar2{ width:90%;}
.bar3{ width:80%;}
@keyframes test{
	from{top:0;}
	to{ top:-28px;}	
}
















